{
  "presets": [
    ["env", {
      "modules": "umd",
      "targets": {
        "browsers": ["last 2 versions", "ie >= 10"],
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "syntax-async-functions",
    "transform-regenerator",
    "transform-object-rest-spread"
  ]
}