.card-form {
  background-color: #fff;
  max-width: 400px;
  width: 100%;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 100;
  box-shadow: 0 0 10px #bbb;
}

.card-form .form-group {
  padding: 5px 20px;
  margin: 0;
}

.card-form .card-header {
  border-bottom: 1px solid #ccc;
  padding: 15px 20px;
}

.card-form .card-footer {
  padding: 15px 20px;
}

.card-form .form-control {
  box-shadow: none;
}

.card-form .form-control.disabled {
  background-color: #EEEEEE;
  cursor: default;
}

.card-form .btn {
  background-color: #02A2C2;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 15px;
}

.card-form .pr-1 {
  padding-right: 6px !important;
}

.card-form .pl-1 {
  padding-left: 6px !important;
}

.card-form .bg-white {
  background-color: #fff !important;
}

.card-form .input-group .form-control {
  border-right: 0;
  padding-right: 0;
}

.card-form .input-group .input-group-addon {
  color: #ababab;
}

.card-form .input-group .input-group-addon .icon-success {
  color: #00A0C0;
}

.card-form  .form-control.is-invalid, .card-form .form-control:invalid {
  border-color: #dc3545;
}

.card-form .form-group label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-form .form-group label {
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
}

.card-maps {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  min-height: 400px;
}

.maps-loading {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.maps-loading .maps-loading-text {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 250px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}

/* MODAL */
.modal-page {
  padding: 0 !important;
  height: 100%;
  /* margin-top: 50px; */
}

.modal-page.fade {
  animation-name: fadeOutDown;
  animation-duration: .5s;
}

.modal-page.fade.in {
  animation-name: fadeInUp;
}

.modal-page .modal-dialog {
  width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.modal-page .modal-dialog .modal-content {
  border-radius: 0;
  border: none;
  height: 100%;
}

.modal-page .modal-dialog .modal-content .modal-header {
  background-color: #00A0C0;
  padding: 12px 15px !important;
  border: 0;
}

.modal-page .modal-dialog .modal-content .modal-header .modal-title {
  font-weight: 400;
  font-size: 22px;
  color: #fff !important;
  text-align: left !important;
}

.modal-page .modal-dialog .modal-content .modal-header .close {
  color: #fff;
  cursor: pointer;
  opacity: .8;
  margin-top: 4px;
  top: 0;
  font-weight: lighter;
  font-size: 24px !important;
}

.modal-page .modal-dialog .modal-content .modal-header .close:hover {
  opacity: 1;
}

.modal-page .modal-dialog .modal-content .modal-body {
  position: relative;
  height: calc(100% - 55px);
  /* height: calc(100% - 108px); */
  padding: 0;
}

/* AUTOCOMPLETE */
.pac-container {
  z-index: 1200;
}

.gm-style .gm-style-iw {
  max-width: 300px;
}