html,
body {
  height: 100%;
  margin: 0;
  padding-top: 25px;
}

.bootstrap_for_gaia.modal-open, .modal-open .navbar-fixed-top {
  margin-right: 0;
}

#exampleForm {
  margin-top: 15px;
  margin-bottom: 15px;
}